.player {
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  max-width: 60%;
  margin: 0;
  box-shadow: none;
  border: none;
  background-color: #f5f5f5
  /* min-width: 530px; */
}

.player__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 4em;
  box-sizing: border-box;
  margin: 0;
  z-index: 100;

}

@media screen and (max-width: 650px) {

  .player {
    min-width: 100%;
  }

  .player__container {
    height: 6em;
  }


}
