.player {
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  max-width: 50%;
  min-width: 530px;
  border: 1px solid black;
}

.player__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 4em;
}
