.add-song {
  margin-top: 1em;
}

.album__artist {
  font-size: 2em;
  padding-bottom: 1em;
  font-weight: 300;
}

.album__content--left {
  display: flex;
  flex-direction: column;
  padding: 0 .5em 1.5em;
}

.album__content--right {
  box-sizing: border-box;
  padding: 0 2em 1em;
  max-width: 60%;
}

.album__content--title {
  margin-bottom: .5em;
}

.album__description {
  flex-wrap: no-wrap;
  margin-bottom: 1.4em;
}

.album__layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 2em;
}

.single-album__title {

}

.single-album__cover {
  max-width: 300px;
  max-height: 300px;
  align-self: center;
  margin-bottom: 1.5em;
}

.songs--layout {
  margin-bottom: 3em;
  width: 100%;
}


@media screen and (max-width: 650px) {
  .album__content {
    margin-top: 1.5em;
  }

}
