.albums--layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.empty-dashboard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

.title {
  font-size: 3em;
  font-weight: 300;
  width: 100%;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  padding: .5em .4em;

  box-sizing: border-box;
  text-underline-offset: 3px;
}

.title__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: .4em;
}
