.disclaimer {
  display:flex;
  box-sizing: border-box;
  padding: 1em;
  color: #d1d1d1;
  text-align: center;
  align-self: center;
  font-size: .8em;
  margin-top: 2.5em;
}

h1 {
  margin-bottom: .2em;
  text-align: center;
}

.logo {
  display: flex;
  max-width: 50%;
  align-self: center;
  padding: 1em .7em .6em;
}



@media screen and (max-width: 650px) {
  .tagline {
    text-align: center;
    font-size: 1.3em;
  }

  .disclaimer {
    font-size: 1em;
  }

}
