p {
  display:flex;
  box-sizing: border-box;
  padding: 1em;
  color: #777;
  text-align: left;
  align-self: center;
}

h1 {
  margin-bottom: .2em;
  text-align: center;
}

.logo {
  display: flex;
  max-width: 60%;
  align-self: center;
}
