
.button-container {
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.form__title {
  font-family: 'Lora', serif;
  font-size: 2.5em;
  font-weight: 700;
}
