nav {
  max-width: 100%;
  /* position: static; */
  min-height: 3em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d1d1d1;
}

ul {
  list-style: none;
}

nav-title {
  color: #25afff;
  font-size: .1em;
}

nav-logo {
  width: 100px;
  padding: .2em;
}
